<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Nous Contacter</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/services">Nos services</a></li>
        <li><a href="/contact">Nous contacter</a></li>
      </ul>
    </nav>
    <h1>Contactez-nous</h1>
    <p>
      Vous pouvez nous contacter à travers ce formulaire ou nous appeler au
      123-456-7890.
    </p>
  </body>
</html>
